PORT=3000
RAZORPAY_KEY_ID=your_key_id_here
RAZORPAY_KEY_SECRET=your_key_secret_here
ADMIN_SECRET_PIN=7665
ADMIN_SESSION_SECRET=your_vault_session_secret_here
FAST2SMS_API_KEY=your_fast2sms_api_key_here
