<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>Google Sign In</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>com.googleusercontent.apps.946288819563-bkg75q9ba57t1e61cjj0070o9hrlbjip</string>
			</array>
		</dict>
	</array>
	<key>GIDClientID</key>
	<string>946288819563-bkg75q9ba57t1e61cjj0070o9hrlbjip.apps.googleusercontent.com</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>Sagai Sambaandh requires access to your photo gallery to select and update your profile picture.</string>
	<key>NSCameraUsageDescription</key>
	<string>Sagai Sambaandh requires access to your camera to take a profile picture.</string>
</dict>
</plist>
